p {
    color: blue;
    font-size:medium;
    margin: 20px;
}
p[different_paragraphs] {
    text-decoration: underline;
    color: green;
    background-color: gray
}
p[unique_paragraph] {
    color: red;
    padding: 5mm;
    border: solid black;
}
span[larger] {
    font-size:x-large;
    font-weight:bolder;
}
span[yellow] {
    color: yellow
}